<h1>What kind of triangle do you have?</h1>
<form action="/triangles">
  <div class="form-group">
    <label for="side_a">Enter the first side:</label>
    <input type="text" name="side_a">
  </div>
  <div class="form-group">
    <label for="side_b">Enter the second side:</label>
    <input type="text" name="side_b">
  </div>
  <div class="form-group">
    <label for="side_c">Enter the third side:</label>
    <input type="text" name="side_c">
  </div>
  <button type="submit">Submit</button>
</form>
